body {
	font-size: 14pt;
	background-color: #445;
	padding-top: 2ex;
	text-align: center;
	overflow-y: scroll;
}

#main {
	width: 600px;
	margin: auto;
	border: none;
	padding: 0px;
	background-color: #eee;
	color: #000;
	position: relative;
	clear:both;
}
#mainwrapper {
	width: 640px;
	margin: auto;
	border: solid black 1px;
	padding: 20px 0px;
	background-color: #eee;
	position: relative;
	clear:both;
}
h1 {
	color: #390;
}

input, select, textarea {
	font-size: 2ex;
}

.items-group {
	/*text-align: center;*/
}

.item {
	display: inline-block;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid black;
	border-radius: 4px;
	background: white;
	box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.8);
}
.item span:after {
	content: "";
	display: inline-block;
	width: calc(100% + 20px);
	border-top: 1px solid black;
	margin: 0px;
	position: relative;
	left: -10px;
	margin: 10px 0;
}

.plural .image {
	margin-bottom: -6px;
	/*position: relative;
	top: -5px;*/
}

#footer {
	text-align: left;
	width: 640px;
	margin: auto;
	padding: 10px 0px 0px 0px;
	color: #aaa;
	font-size: 10pt;
	clear:both;
}




#progressbar {
	float: right;
	direction: ltr;
}
#progress_text {
	float: right;
	font-size: 10pt;
	color: #aaa;
	padding-right: 6px;
}
#progress_bar_full {
	float: right;
	height: 3px;
	margin: 4px 0px 4px 0px;
	background-color: #aaa;
	border-left: solid 1px #aaa;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}
#progress_bar_empty {
	float: right;
	height: 3px;
	margin: 4px 0px 4px 0px;
	border-right: solid 1px #aaa;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

.trialpartWrapper {
	display: none;
	text-align:center;
	padding-top: 20px;
}

.scaleWrapper {
	text-align: center;
}
.scaleEdgeLabel {
	display: inline;
	margin: .5ex;
}
.scalebuttonWrapper {
	display: inline;
}
.scaleButton {
	display: inline;
	margin: .35ex;
}

table {
	border: none;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
}

td.hide {
	border: 0px;
}

input[type="button"] {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
}

input[type="button"]:focus {
  outline: none
}

input[type="button"] {
  color: #000;
  background-color: #fff;
  border: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

input[type="button"]:hover {
  background-color: #eee;
	cursor: pointer;
}

input[type="button"]:active{
  background-color: #ddd;
}
