<div style="text-align: left;">
<%
Experigen.saveLocalData();
Array.prototype.randomElement = function () {
    return this[Math.floor(Math.random() * this.length)]
}

prefixes = ["exp1", "ling2", "morph3", "phon4" ]
suffixes = ["345", "798", "215", "665", "009"]

code = prefixes.randomElement()+suffixes.randomElement()

%>


<p>
Thank you for your time and effort.
</p>
</div>
