<div style="text-align: left;">

<p>
Welcome to our language experiment. Please be sure to complete it in a quiet environment because you'll be listening to sounds. Do not push the “back” button, and be aware that reloading pages will restart the experiment from the beginning. If you experience any technical difficulties, e-mail us.   
<p>

<p>
On the next screen we will check whether your sound-system is set up properly. When you are ready, push the “Continue” button.<p>
<%= continueButton() %>

</div>
