<div style="text-align: left;">

<p>
You are ready to go! In this next part of the experiment, you will learn some new words in an artificial language. Each screen will include a singular and a plural form of a word. Your task is to carefully listen to the words and look at the pictures. When you're done, push the next button to proceed to the next screen. This phase will last for about 7 minutes. After that, you will proceed to the next phase during which you'll be asked to push a button to choose one of two possible plural forms for several words.


<p>
<%= continueButton() %>

</div>