<div style="text-align: left;">

<p>
Good job! We’re almost done! Now you’re going to see a couple more pictures and we’ll tell you how to say one of them, and we’re going to ask you how to say two of them.<p>
<%= continueButton() %>

</div>
