<div style="text-align: left;">

<p>
Welcome! In the next few minutes, you will practice how to say "one of something" and "two of something" in an alien language. In this language, the words for things you know sound different, but don't worry!  Just look at the pictures and repeat the words after us. 


<p>
<%= continueButton() %>

</div>