<div style="text-align: left;">

<p>
Now, you will see a few more words. After hearing two possible plural forms for each word, select the one that seems right to you by pushing the corresponding button. 
<p>
<%= continueButton() %>

</div>