<div style="text-align: left;">
<input type="hidden" name="destination" value="demographics.csv">

Hello! First, please answer a few questions.

<p>
How old are you?
	<input type="text" name="age" value="" style="margin-left: 20px; width: 60px; text-align:center">
</p>
<p>

Gender:
	<select name="gender" style="width: 10em; margin-left:30px;">
		<option value="none">Please choose</option>
		<option value="male">Male</option>
		<option value="female">Female</option>
		<option value="other">Other</option>
	</select>

<p>

<P style="text-align: right;">
  <input type="button" class="skip-to-end" value="skip to end" onClick="Experigen.recordResponse(this); Experigen.saveLocalData();">
  <input type="button" value="   continue   " onClick="Experigen.recordResponse(this); Experigen.advance();">

</div>
