<div style="text-align: center; line-height:130%;">
	<div class="items-group">
		<div class="item plural train">
			<span>dogs</span>
			<div class="image">
				<%= makePicture({src: file_sg, width: 170}) %>
				<%= makePicture({src: file_sg, width: 170}) %>
			</div>
		</div>
		<div class="item singular train">
			<span>dog</span>
			<div class="image">
				<%= makePicture({src: file_sg, width: 170}) %>
			</div>
		</div>
	</div>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">
	<%= makeScale({buttons: ["Continue"], edgelabels: [""], disable: true  }) %>
</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
<script>
	var continueButton = document.getElementById("1button0");
	continueButton.disabled = true;
	// delayButtonEnabled(continueButton, 5);

	function delayButtonEnabled(button, seconds) {
		setTimeout(function() { button.disabled = false; }, seconds * 800);
	}

	$('body').keydown(function(event) {
			$('.plural.train').removeClass('hide').addClass('slideRight');
			$('.singular.train').addClass('slideLeft');
			continueButton.disabled = false;
	});

</script>
