<%
	// suffix = "ek";
	// sound_sg="resources/sounds/" + file_sg;
	// sound_pl1="resources/sounds/" + file_pref;
	// sound_pl2="resources/sounds/" + file_suff;


	function playSound(soundFile) {
		var audio  = new Audio();
		var audioSource = document.createElement("source");
		audioSource.src = soundFile;
		audio.appendChild(audioSource);
		audio.play();
	}

	function playAllSounds() {
		setTimeout(function() { playSound(sound_sg); }, 1000);
		setTimeout(function() { playSound(sound_pl2); }, 2700);
	}

  var currentScreen = Experigen.screen();
  var earlierTrial = Experigen._screens[currentScreen.trialnumber - 4];
  var earlierItem = earlierTrial.item;

	var items  = Experigen.resource("items").shuffle();
	var randomItem = items.chooseRandom(1)[0].item;
	item = earlierItem;
%>

<div style="text-align: center; line-height:130%;">
	<div class="items-group">
		<div class="item">
			<div class="image">
				<%= makePicture({src: earlierTrial.frame.file_sg, width: 170}) %>
			</div>
		</div>
	</div>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">
  <p>Choose the correct word:</p>
	<% if (Math.random() > 0.5) { %>
		<%= makeScale({buttons: [earlierItem, randomItem], edgelabels: ["-(" + earlierItem, "-" + randomItem + ")"], disable: false  }) %>
	<% } else { %>
		<%= makeScale({buttons: [randomItem, earlierItem], edgelabels: ["-(" + randomItem, "-" + earlierItem + ")"], disable: false  }) %>
	<% } %>
</div>


<div style="clear: both; height: 1px;">&nbsp;</div>
