<%
	// suffix = "ek";
	// sound_sg="resources/sounds/" + file_sg;
	// sound_pl1="resources/sounds/" + file_pref;
	// sound_pl2="resources/sounds/" + file_suff;


	function playSound(soundFile) {
		var audio  = new Audio();
		var audioSource = document.createElement("source");
		audioSource.src = soundFile;
		audio.appendChild(audioSource);
		audio.play();
	}

	function playAllSounds() {
		setTimeout(function() { playSound(sound_sg); }, 1000);
		setTimeout(function() { playSound(sound_pl2); }, 2700);
	}

  var currentScreen = Experigen.screen();
  var earlierTrial = Experigen._screens[currentScreen.trialnumber - 4];

  var heads = (Math.floor(Math.random() * 2) == 0);

  if (heads) {
    var item1 = earlierTrial.item;
    var item2 = item;
  } else {
    var item1 = item;
    var item2 = earlierTrial.item;
  }

%>

<div style="text-align: center; line-height:130%;">
	<div class="items-group">
		<div class="item">
			<div class="image">
				<%= makePicture({src: earlierTrial.frame.file_sg, width: 170}) %>
			</div>
		</div>
	</div>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">
  <p>Choose the correct word:</p>
	<%= makeScale({buttons: [item1, item2], edgelabels: [""], disable: false  }) %>
</div>


<div style="clear: both; height: 1px;">&nbsp;</div>
