<div style="text-align: center; line-height:130%;">
	<div class="items-group">
		<div class="item">
			<%= item %>
		</div>
	</div>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">
	<% if (item === "rezik") { %>
	<input style="display:inline-block;position:relative;top:38px;left:130px;" type="button" class="skip-to-end" value="skip to end" onClick="Experigen.recordResponse(this); Experigen.saveLocalData(); setTimeout(function(){Experigen.eraseLocalData()}, 1000);">
	<% } %>
	<%= makeScale({buttons: ["Continue"], edgelabels: [""], disable: true  }) %>
</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
