<div style="text-align: center; line-height:130%;">
	<div class="items-group">
		<div class="item">
			<%= item %>
		</div>
	</div>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">
	<%= makeScale({buttons: ["Continue"], edgelabels: [""], disable: true  }) %>
</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
